<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Principal!</title>
</head>
<body>
    <h2>Página Principal!</h2>

    {{ range . }}
        <h4> Titulo: {{ .Titulo }} </h4>
        <h4> Conteudo: {{ .Conteudo }} </h4>

        <hr/>
    {{ end }}

    <h1> {{ .OutroCampo }} </h1>
</body>
</html>